* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.title {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.numero {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 40px;
}
.numeros{
    font-size: 4em;
}

input{
    text-align: center;
    width: 120px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.adivinar{
    width: 100px;
    color: white;
    margin: auto;
    background-color: #F15A5A;
    border: 2px solid #F15A5A;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    transition: 1s;
}
.adivinar:hover{
    scale: 1.2;
    background-color: #d83a3a;
    border: 2px solid #d83a3a;
    cursor: pointer;
}

.repetir {
    width: 140px;
    color: white;
    margin: auto;
    background-color: #d83a3a;
    border: 2px solid #d83a3a;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
    transition: 1s;
}
.repetir:hover {
    scale: 1.2;
    cursor: pointer;
}
.info_contenedor {
    display: flex;
    justify-content: center;
    
}

.info{
    font-size: 22px;
    background-color: rgb(206, 191, 191);
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 200px;
}